{
  "clientId": "[yourId]",
  "clientSecret": "[yourSecret]",
  "redirectUri": "[http://yourCallbackUri]",
  "accessTokenUri": "https://auth.fulfillment.com/oauth/access_token",
  "authorizationUri": "https://auth.fulfillment.com/oauth/authorize",
  "fdcApiUri": "https://api.fulfillment.com/v2"
}
